<div class="main">
  <h1 class="mat-display-1">Seja Bem-Vindo ao Contre de Cidades!</h1>
  <hr />
  <p class="mat-body-1">
    Para começar basta inserir a planilha (em formato CSV) no botão indicado.
  </p>
  <p [hidden]="!fileName" class="mat-body-2">
    Último Arquivo Carregado: <span [style.color]="'red'">{{fileName}}</span>.<br />
    Para você carregar um novo Arquivo você deve clicar em limpar.
  </p>
  <form [formGroup]="form">
    <div class="form-group">
      <button mat-raised-button color="primary" (click)="openInput()" [disabled]="!!fileName">
        Selecionar Planilha
      </button>
      <span class="spacer"></span>
      <input type="file" style="display: none" id="file" (change)="onFileChange($event)" #fileInput>
      <button id="clean" type="button" [disabled]="!fileName" mat-raised-button class="btn btn-sm btn-default" (click)="clearFile()"
        [disabled]="loading">Limpar</button>
    </div>
  </form>
  <div>
    <h3 class="mat-subheading-2">Lista de Cidades</h3>
    <hr />
    <div class="search-fields">
      <mat-form-field>
        <mat-select placeholder="Selecione um Filtro" (selectionChange)="onChangeFilter()" #filter>
          <mat-option *ngFor="let option of options" [value]="option.value">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="!!searchById" class="id-search">
        <mat-form-field>
          <input matInput type="number" placeholder="Escolha um Id" #cityId>
        </mat-form-field>
      </div>
      <div *ngIf="!!searchByState" class="state-search">
        <mat-select placeholder="Selecione um Estado" #filterState>
          <mat-option *ngFor="let state of states" [value]="state.id">
            {{state.uf}}
          </mat-option>
        </mat-select>
      </div>
      <button mat-raised-button class="search-button" color="primary" (click)="onSearch()">
        Pesquisar <fa-icon [icon]="['fas', 'search']"></fa-icon>
      </button>
    </div>
    <div [hidden]="!cities || !!cities && cities.length <= 0">
      <app-cities-table [cities]="cities" (removeCity)="onRemove($event)"></app-cities-table>
    </div>
  </div>
</div>